<%- partial('_local/partials/header-en') %>
<main class="Page-content">
  <article class="Homepage">
    <header class="Homepage-header">
      <h1>Lime</h1>
      <p class="Homepage-slogan">A simple, readable, responsive theme.</p>
      <p class="Homepage-notice">Sorry, only Chinese is supported for now.</p>
      <p class="GetStarted"><a href="/zh/">开始使用<i class="fa fa-long-arrow-right"></i></a></p>
    </header>
  </article>
</main>
<%- partial('_local/partials/footer-en') %>
